In [14]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [15]:
# Instalação das bibliotecas
import numpy as np
import pandas as pd
import openpyxl

In [6]:
# name_of_df = pd.read_csv("data Location or path/file_name.file_ext")
new_df = pd.read_csv(r"C:\Users\user\Documents\international_migration_citizenship.csv")
new_df

,year_month,month_of_release,passenger_type,direction,citizenship,visa,country_of_residence,estimate,standard_error,status
0,2001-09,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
1,2002-03,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,3,0,Final
2,2005-01,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,5,0,Final
3,2005-04,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
4,2005-07,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
...,...,...,...,...,...,...,...,...,...,...
338517,2024-03,2024-07,Long-term migrant,Arrivals,non-NZ,Work,Zimbabwe,16,1,Provisional
338518,2024-04,2024-07,Long-term migrant,Arrivals,non-NZ,Work,Zimbabwe,19,1,Provisional
338519,2024-05,2024-07,Long-term migrant,Arrivals,non-NZ,Work,Zimbabwe,13,1,Provisional
338520,2024-06,2024-07,Long-term migrant,Arrivals,non-NZ,Work,Zimbabwe,21,1,Provisional
338521,2024-07,2024-07,Long-term migrant,Arrivals,non-NZ,Work,Zimbabwe,12,1,Provisional

In [ ]:
# you may get unicode error: add r or make all the back slases forward

In [9]:
new_ec = (pd.read_csv('C:/Users/user/Documents/effects_of_covid_19.csv'))
new_ec

,Direction,Year,Date,Weekday,Country,Commodity,Transport_Mode,Measure,Value,Cumulative
0,Exports,2015,01/01/2015,Thursday,All,All,All,$,104000000,104000000
1,Exports,2015,02/01/2015,Friday,All,All,All,$,96000000,200000000
2,Exports,2015,03/01/2015,Saturday,All,All,All,$,61000000,262000000
3,Exports,2015,04/01/2015,Sunday,All,All,All,$,74000000,336000000
4,Exports,2015,05/01/2015,Monday,All,All,All,$,105000000,442000000
...,...,...,...,...,...,...,...,...,...,...
111433,Reimports,2021,11/12/2021,Saturday,All,All,All,$,0,165000000
111434,Reimports,2021,12/12/2021,Sunday,All,All,All,$,0,165000000
111435,Reimports,2021,13/12/2021,Monday,All,All,All,$,2000000,166000000
111436,Reimports,2021,14/12/2021,Tuesday,All,All,All,$,1000000,167000000
111437,Reimports,2021,15/12/2021,Wednesday,All,All,All,$,1000000,168000000

In [16]:
assault_data = pd.read_excel("C:/Users/user/Documents/analysis_public_sexual_assaults_and_robberies.xlsx")
assault_data

,Index,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Rate_per_10000_population,Rate_ratio_NZ_average_rate,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Territorial_authority_area_2013_code,Territorial_authority_area_2013_label,Region_2013_code,Region_2013_label
0,1,514102,Auckland Central West,550,15900,346,6.6,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region
1,2,573101,Willis Street-Cambridge Terrace,447,8300,539,10.3,20,Wellington Zone,Main urban area,47,Wellington City,9,Wellington Region
2,3,529700,Hamilton Central,380,3170,1.199,22.9,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region
3,4,514103,Auckland Central East,375,13250,283,5.4,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region
4,5,591500,Cathedral Square,305,570,5.351,102.3,22,Christchurch,Main urban area,60,Christchurch City,13,Canterbury Region
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,2016,506653,Riverhead,0,3510,-,-,502,Rural (Incl.some Off Shore Islands),Rural area,76,Auckland,2,Auckland Region
2016,2017,610601,Grasmere,0,3590,-,-,24,Invercargill,Main urban area,75,Invercargill City,15,Southland Region
2017,2018,536513,Bethlehem East,0,3590,-,-,9,Tauranga,Main urban area,23,Tauranga City,4,Bay of Plenty Region
2018,2019,574302,Te Kainga,0,4020,-,-,20,Wellington Zone,Main urban area,47,Wellington City,9,Wellington Region
2019,2020,527007,Horsham Downs,0,5440,-,-,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region

In [17]:
new_df.head()

,year_month,month_of_release,passenger_type,direction,citizenship,visa,country_of_residence,estimate,standard_error,status
0,2001-09,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
1,2002-03,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,3,0,Final
2,2005-01,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,5,0,Final
3,2005-04,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
4,2005-07,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final

In [18]:
new_df[10:20] #Last range is excluded

,year_month,month_of_release,passenger_type,direction,citizenship,visa,country_of_residence,estimate,standard_error,status
10,2006-07,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
11,2006-08,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
12,2006-09,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
13,2006-11,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
14,2006-12,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
15,2007-01,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,4,0,Final
16,2007-07,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
17,2007-08,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,3,0,Final
18,2007-10,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,1,0,Final
19,2007-12,2020-09,Long-term migrant,Arrivals,NZ,NZ and Australian citizens,Afghanistan,2,0,Final

In [19]:
new_df.columns

Index(['year_month', 'month_of_release', 'passenger_type', 'direction',
       'citizenship', 'visa', 'country_of_residence', 'estimate',
       'standard_error', 'status'],
      dtype='object')

In [20]:
new_df.index

RangeIndex(start=0, stop=338522, step=1)

In [21]:
new_df.tail()

,year_month,month_of_release,passenger_type,direction,citizenship,visa,country_of_residence,estimate,standard_error,status
338517,2024-03,2024-07,Long-term migrant,Arrivals,non-NZ,Work,Zimbabwe,16,1,Provisional
338518,2024-04,2024-07,Long-term migrant,Arrivals,non-NZ,Work,Zimbabwe,19,1,Provisional
338519,2024-05,2024-07,Long-term migrant,Arrivals,non-NZ,Work,Zimbabwe,13,1,Provisional
338520,2024-06,2024-07,Long-term migrant,Arrivals,non-NZ,Work,Zimbabwe,21,1,Provisional
338521,2024-07,2024-07,Long-term migrant,Arrivals,non-NZ,Work,Zimbabwe,12,1,Provisional

In [ ]:
# write df as csv or excel

In [22]:
assault_data.to_csv("C:/Users/user/Documents/save_newdf.csv")